:root {
    --title-color: #7ab08e;
    --background-color: #effabf;
    --card-color: #a7e9af;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

main {
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    place-items: center;
    justify-content: center;
    margin: 50px 0 10px 0;
    flex-direction: column;
}

h1 {
    color: var(--title-color);
}